$fern: #66af6b;
$lightGray: #555;

.app {
    // margin: 0 auto;
    // max-width: 80%;
    .my-container {
        padding: 0;
        // margin: 0;

        // Navbar
        .navbar {
            margin-bottom: 50px;
            .container-navbar {
                padding-left: 0;
                .navbar-brand {
                    color: $fern;
                }
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: $fern;
                        }

                        .nav-item-write {
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            background-color: #66af6b;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
                            .nav-link {
                                color: #fff;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }


        // Home content
        .column {
            .left-aside {
                flex: 5;
                h1 {
                    font-size: 42px;

                    .links {
                        text-decoration: none;

                    }
                }
                button {
                    width: max-content;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    background-color: #fff;
                    border: 1px solid teal;
                    
                
                    &:hover {
                        border: 1px solid #fff;
                        background-color: $fern;
                        color: #000;

                        .link {
                            color: #fff;
                        }
                    }

                    .link {
                        text-decoration: none;
                        color: teal;
                    }

                }

                h1 {
                    color: $lightGray;
                }

            }

            .right-aside {
                flex: 3;
            }
        }

        .footer {
            background-color: $fern;
            height: fit-content;
            margin-bottom: 0;
            padding: 1rem;
            .row {
                .footer-logo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .links {
                        text-decoration: none;
                        color: #fff;
                    }

                    .copyright {
                        color: #fff;
                    }

                    .socials {
                        ul {
                            display: flex;
                            margin: 0.75em 0;
                            li {
                                list-style-type: none;
                                margin-right: 0.5em;
                                color: #fff;
                            }
                        }
                    }
                }


                .items-right {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .links {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }


        // Single Content

        .single-content {
           padding: 0;

           .row {
                .col-single {
                    flex: 4;

                    .caption {
                        display: flex;
                        margin: 0 auto;
                        width: 95%;

                        .img-holder-person {
                            
                        }

                        .cap-desc {
                            display: flex;
                            .desc-words {
                                display: flex;
                                flex-direction: column;
                                margin-left: 1em;

                                h2 {
                                    font-size: 18px;
                                }

                                h3 {
                                    font-size: 14px;
                                }
                            }

                            .alter {
                                margin-top: 0.75em;
                                margin-left: 2em;
                                
                                .links {
                                    margin-right: 1em;
                                }
                            }
                        }
                    }

                    .img-holder {
                        height: 400px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 95%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .post-body {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        p {
                            width: 95%;
                            text-align: justify;
                            font-size: 18px;
                            font-weight: 100;
                        }
                    }
                }

                .col-aside {
                    flex: 1.75;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    max-width: 95%;

                    .row {
                        .col {
                            .posts {
                                .img-holder {
                                    // Continue from here
                                    min-width: 100%;
                                    img {
                                        width: 100%;
                                    }
                                }

                                .caption {
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
           }
        }

        // Write

        .container {
            .row {
                .col-editor {
                    flex: 5;

                    form {
                        .btn-custom {
                            width: max-content;
                            padding: 5px 20px;
                            border: none;
                            cursor: pointer;
                            background-color: #fff;
                            border: 1px solid teal;

                            &:hover {
                                background-color: $fern;
                                color: #fff;
                            }
                        }

                        .textarea {
                            height: 430px;

                            .textarea-editor {
                                min-height: 100%;
                            }
                        }
                    }
                }

                .btn-custom {
                    width: max-content;
                    padding: 5px 20px;
                    border: none;
                    cursor: pointer;
                    background-color: #fff;
                    border: 1px solid teal;

                    &:hover {
                        background-color: $fern;
                        color: #fff;
                    }
                }

                .col-aside-right {
                    flex: 1.5;

                    .row {
                        .publish {
                            height: 300px;
                            border: 1px solid #555;
                            margin-bottom: 5px;

                            .buttons {
                                .draft, .update {
                                    width: max-content;
                                    padding: 5px 20px;
                                    border: none;
                                    cursor: pointer;
                                    background-color: #fff;
                                    border: 1px solid teal;
                
                                    &:hover {
                                        background-color: $fern;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }

                    .row {
                        .categories {
                            height: 200px;
                            border: 1px solid #555;
                            margin-bottom: 1em;

                            ul {
                                li {
                                    list-style-type: none;
                                }
                            }
                        }
                    }
                }
            }
        }


        // Register
        .container-register {
            background-color: $fern;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .form-register {
                min-width: 30%;
                background-color: #fff;
                padding: 10px;
                height: fit-content;

                h1 {
                    color: $fern;
                    text-align: center;
                }

                .btn-signup {
                    text-align: center;
                    button {
                        width: fit-content;
                        padding: 0.375em 1em;
                        background-color: $fern;
                        color: #fff;
                        border: 1px solid #fff;

                        &:hover {
                            background-color: #fff;
                            cursor: pointer;
                            color: $fern;
                            border: 1px solid $fern;
                        }
                    }
                }

                .login {
                    margin: 1em 0;
                }
            }
        }


        // Log in 
        .container-login {
            background-color: $fern;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .form-login {
                background-color: #fff;
                padding: 10px;
                min-width: 30%;
                h1 {
                    text-align: center;
                    color: $fern;
                }
                .form-log {
                    .login-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        button {
                            width: fit-content;
                            padding: 0.375em 1em;
                            background-color: $fern;
                            border: 1px solid #fff;
                            color: #fff;
                            text-align: center;
    
                            &:hover {
                                color: $fern;
                                background-color: #fff;
                                cursor: pointer;
                                border: 1px solid $fern;
                            }
                        }
                    }
                }
            }
        }

        // Err Page

        .container {
            .go-home {
                .links {
                    text-decoration: none;
                }
            }
        }

        @media (min-width: 991px) {
            .column {
                display: flex;
                gap: 100px;
                &:nth-child(2n+1) {
                    flex-direction: row-reverse;
                }

                .right-aside {
                    img {
                        height: 90%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        @media (max-width: 991px) {
            // .my-row {
            //     margin: 3em 0; 
            // }
            .column {
                flex: none;
                .left-aside {
                    h1 {
                        font-size: 36px;
                    }
                }
            }

            .footer {

            }

            .single-content {
                .row {
                    display: flex;
                    flex-direction: column;

                    .img-holder {
                        height: 300px;
                        width: 100%;
                    }
                }
            }
        }

        @media (max-width: 991px) {
            .write-container {
                display: flex;
                flex-direction: column;

                .row {
                    display: flex;
                    flex-direction: column;

                    .col-editor {
                        form {
                            .textarea {
                                height: 20%;
                            }
                        }
                    }

                    .col-aside-right {
                        display: flex;
                        margin: 0 auto;
                        flex-direction: column;
                        max-width: 95%;

                        .row {
                            margin-top: 1.5em;
                            height: auto;

                            .publish {
                                height: auto;
                                
                                .buttons {
                                    margin-bottom: 1em;

                                    button {
                                        margin-right: 0.5em;
                                    }
                                }
                            }

                            .categories {
                                height: auto;
                            }
                        }
                    }
                }


                .button-post {
                    margin-left: 1px;
                }
            }
        }


        @media(min-width: 500px) and (max-width: 991px) {
            .single-content {
                .row {
                    .col-aside {
                        .row {
                            .col {
                                .posts {
                                    .img-holder {
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @media(max-width: 720px) {
            .footer {
                .row {
                    text-align: center;
                    .footer-logo {
                        display: flex;
                        flex-direction: column;
                        
                        .links {
                            text-decoration: none;
                        }
                    }

                    .horizontal-line {
                        height: 2px;
                        background-color: #fff;
                        max-width: 75%;
                        margin: 1em auto;
                    }

                    .items-right {
                        display: flex;
                        flex-direction: column;

                        .links {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
        }

    }
}


